.root {
  -fx-font-size: 11pt;
  -fx-font-family: "Helvetica Neue";
}

.axis {
  -fx-stroke: blue;
}

.monospace-font {
  -fx-font-family: Menlo Monospaced;
  -fx-font-size: 10pt;
}

.info-tab {
  -fx-padding: 0px 6px 0px 6px;

  -fx-background-insets: 0 1 1 0, 1 2 0 1, 2 3 0 2;
}

.info-tab .tab-label {
  -fx-font-size: 10pt;
}

.box-title {
  -fx-underline: true;
  -fx-font-size: 12pt;
}

.command-title {
  -fx-font-size: 24pt;
  -fx-font-weight: bold;
  -fx-text-alignment: center;
}

.command-info {
  -fx-wrap-text: true;
}

#MenuBar {
  -fx-padding: 6px 12px 6px 12px;
  -fx-spacing: 12px;
  -fx-background-color: linear-gradient(to bottom, #fff5e6, #ffe0b3);
}

#MenuBar .selector {
  -fx-spacing: 3px;
}

#GraphicalController {
  -fx-padding: 4px 4px 4px 4px;
  -fx-background-color: rgb(230, 230, 230);
}

#CanvasHolder {
  -fx-background-color: white;
}

#TurtleCanvas {
  -fx-border-color: black;
  -fx-border-radius: 1px;
}

#InfoDisplay {
}

#InfoDisplay .tab-header-area {
  -fx-padding: 4px 0px 0px 2px;
}

#InfoDisplay .tab-header-background {
  -fx-background-color: #ffc2b3;
}

#InfoDisplay .info-box {
  -fx-background: #ffebe6;
  -fx-padding: 8px 8px 8px 8px;
}

#CommandHistoryBox {
  -fx-background: #e6f0ff;
}

#InputButton {
  -fx-background-color: #009933;
  -fx-text-fill: white;
}

#HelpWindow {
  -fx-padding: 10px;
}