.root {
  -fx-font-size: 12pt;
  -fx-font-family: "Helvetica Neue";
}

.box {
  -fx-background-color: #d6f5d6;
}

.axis {
  -fx-stroke: blue;
}

.command-title {
  -fx-font-size: 24pt;
  -fx-font-weight: bold;
  -fx-text-alignment: center;
}

.command-info {
  -fx-wrap-text: true;
}

#MenuBar {
  -fx-border-width: 0 0 2px 0;
  -fx-border-color: black;
  -fx-background-color: #ffebcc;
  -fx-padding: 6px 12px 6px 12px;
  -fx-spacing: 12px;
}

#MenuBar .selector {
  -fx-spacing: 3px;
}

#Canvas {
  -fx-padding: 16px;
}

#Grid {
  -fx-border-color: black;
  -fx-border-radius: 1px;
}

#InfoBoxes {
  -fx-min-width: 240px;
}

#InputBox {
  -fx-max-width: 360px;
  -fx-max-height: 10px;
}

#HelpWindow {
  -fx-padding: 10px;
}